<% @page_title = 'Inicio' %> 
<div id="video-intro">
  <iframe class="youtube-player" type="text/html" width="639" height="394" src="http://www.youtube.com/embed/1bCFHTbRnWM" frameborder="0"></iframe>
</div>
<div id="home-columns">
  <div id="home-column-left">
    <h2><%= t(:its_the_best) %></h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  </div>
  <div id="home-column-middle">
    <h2><%= t(:its_the_most_cheaper) %></h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  </div>
  <div id="home-column-right">
    <h2><%= t(:its_free) %></h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  </div>
</div>
